@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    --color-primary: 59 196 159;
    /* --color-primary: 5 150 105; */
    /* --color-secondary: 111 114 185; */
    /* ... */
  }
  h2 {
    @apply font-bold text-primary;
  }
  h3 {
    @apply font-semibold;
  }
  p {
    @apply text-neutral-950;
  }
  a {
    @apply font-semibold text-neutral-950;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

/* h1,
h2 {
  text-wrap: balance;
} */

.logo {
  margin-right: auto;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  display: block;
  font-size: 0;
}

.logo:hover {
  transform: scale(1.2) rotate(360deg);
}

svg {
  display: block;
}
